body {
  background-color: #1a1a2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.crewmate-wrapper {
  position: relative;
  width: 120px;
  height: 240px;
}


/* Crewmate Body */
.crewmate {
  position: absolute;
  width: 120px;
  height: 180px;
  background-color: #e11d2f;
  border-radius: 60px;
  border: 6px solid #000;
  z-index: 2;
}

/* Backpack */
.backpack {
  position: absolute;
  top: 50px;
  left: -35px;
  width: 45px;
  height: 100px;
  background-color: #c4172a;
  border-radius: 20px;
  border: 6px solid #000;
  z-index: 1;
}

/* Legs */
.left-leg,
.right-leg {
  position: absolute;
  width: 35px;
  height: 50px; /* Slightly longer legs */
  background-color: #e11d2f;
  border: 6px solid #000;
  border-radius: 10px;
  bottom: 13px;
  z-index: 1;
}

.left-leg {
  left: 10px;
}

.right-leg {
  right: 10px;
}

/* Visor */
.visor {
  position: absolute;
  top: 45px;
  left: 50px;
  width: 70px;
  height: 45px;
  background-color: #8dd3ec;
  border-radius: 25px;
  border: 6px solid #000;
  z-index: 3;
}

/* Shine */
.shine {
  width: 35px;
  height: 15px;
  background-color: #ffffff90;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 28px;
}
